#overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.253);
}

#modal {
    width: 350px;
    background-color: white;
    padding: 32px;
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    box-shadow: 0px 0px 25px 5px rgb(124, 124, 124);
}

#modal-button {
  width: 80px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
  margin-top: 5px;
  border-radius: 10px;
}

#modal-button:hover {
    opacity: 1;
}